@font-face {
    font-family: RadonDeco;
    src: url('../fonts/Radon Deco.ttf');
    font-weight: normal;
}

@font-face {
    font-family: RadonBold;
    src: url('../fonts/Radon Bold.otf');
    font-weight: normal;
}

body {
    background: black;
    background-image: url('../img/bg.jpeg');
    background-position: top;
    background-size: cover;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}