.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.search__title {
    margin-top: 0;
    text-align: center;
    color: white;
}

.search__input {
    width: 70%;
    padding: 20px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid white;
    border-radius: 100px;
    outline: none;
    transition: 200ms;
}

.search__input:focus {
    padding: 30px;
    border-color: transparent;
    font-size: 125%;
    box-shadow: 0px 0px 5px rgba(255,255,255,0.5);
}

.search__input::placeholder {
    opacity: .9;
    color: white;
    transition: .1s;
}

.search__input:focus::placeholder {
    color: transparent;
}