.footer {
    display: flex;
    align-items: center;

    height: 100px;
    width: 100%;
    background: rgba(0,0,0,0.35);
}

.footer a {
    margin-left: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (max-width: 590px) {
    .footer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        text-align: left;

        background: rgba(0,0,0,0.35);
        box-shadow: inset 0px 3px 4px rgba(0,0,0,0.25);
    }

    .footer a {
        margin: 0 10px;
        font-weight: 400 !important;
    }
}