.header {
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    padding-left: 5px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.header__logo {
    height: 80px;
    margin-left: 5px;
    cursor: pointer;
}

/*
.header__logo {
    position: relative;
    margin: 0;
    margin-left: 15px;
    font-size: 65px;
    font-weight: 400;
}

.header__logo span:first-child {
    font-family: RadonDeco;
    color: white
}

.header__logo span:last-child {
    position: absolute;
    top: 29%;
    left: 80%;
    font-size: 60%;
    font-family: RadonBold;
    color: white;
}
*/

.header__menu {
    position: relative;
    color: white;
}

.header__menu--profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

.header__menu--profile p {
    margin: 0;
}

.header__menu ul {
    display: none;
    position: absolute;
    left: 15px;
    padding: 0 15px;
    margin: 0;
    text-align: right;
    list-style: none;
    /*
    background: black;
    background: linear-gradient(180deg, black 40%, transparent);
    */
    background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, transparent 100%);
    border-radius: 0 0 5px 5px;
}

.header__menu:hover ul, .header__menu ul:hover {
    display: block;
}

.header__menu ul li {
    margin: 10px 0;
}

.header__menu ul a {
    text-decoration: none;
    color: white;
}

.header__menu ul a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 590px) {
    .header__logo {
        height: 63px;
    }
}