.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px);
    padding: 0 15px;
    margin-bottom: 50px;
}

.login__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 400px;
    min-height: 700px;
    padding: 60px 70px;
    border-radius: 5px;
    background: linear-gradient(to top, rgba(0,0,0,.3) 30%, rgba(255,255,255,.05) 70%);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,.2);
    color: white;
}

.login__container h2 {
    text-align: center;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-forgot {
    display: flex;
    margin-top: 10px;
    color: white;
    justify-content: space-between;
    align-items: baseline;
}

.login__container--remember-forgot label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.login__container--remember-forgot a {
    font-size: 14px;
}

.login__container--social-login div {
    display: flex;
    padding: 10px;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
    transition: 200ms;
}

.login__container--social-login a:hover div {
    background: rgba(255, 255, 255, .1);
}

.login__container--social-login a {
    display: block;
    width: max-content;
}

.login__container--social-login a:hover {
    text-decoration: none;
}


.login__container--social-login div img {
    margin-right: 10px;
}


.login__container--register {
    font-size: 14px;
}

.login__container--register p {
    margin: 10px 0;
}

.login__container--register a {
    font-size: 16px;
    font-weight: bold;
}

@media only screen and (max-width: 590px) {
    .login {
        padding: 0;
    }

    .login__container {
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        border-radius: 0;
        box-shadow: none;
    }
}